
[data-bs-theme="dark"] {
    --bs-body-color: #f8f9fa; 
    --bs-body-bg: #212529; 
    --bs-tertiary-bg: #343a40;
    --bs-secondary-bg: #495057;
    color: var(--bs-body-color) !important;
}
body {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color);
}
.drop-zone-top {
    border-top: 2px solid #007bff; 
    padding-top: 10px !important; 
}

.drop-zone-bottom {
    border-bottom: 2px solid #007bff; 
    padding-bottom: 10px !important; 
}
.drop-zone-empty {
    border: 2px dashed #3498db; 
}

/*toast */
#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.toast-message {
    padding: 12px 24px;
    margin-bottom: 10px;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    animation: slideIn 0.3s ease-out;
}

    .toast-message.success {
        background-color: #198754;
    }

    .toast-message.error {
        background-color: #dc3545;
    }

    .toast-message.hide {
        opacity: 0;
        transform: translateX(20px);
        transition: 0.5s;
    }

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}