
[data-bs-theme="dark"] {
    --bs-body-color: #f8f9fa; 
    --bs-body-bg: #212529; 
    --bs-tertiary-bg: #343a40;
    --bs-secondary-bg: #495057;
    color: var(--bs-body-color) !important;
}
body {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color);
}
.drop-zone-top {
    border-top: 2px solid #007bff; 
    padding-top: 10px !important; 
}

.drop-zone-bottom {
    border-bottom: 2px solid #007bff; 
    padding-bottom: 10px !important; 
}
.drop-zone-empty {
    border: 2px dashed #3498db; 
}