@page "/general"
@using StudyVera.FrontEnd.Components
<PageTitle>General Page</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <Heatmap></Heatmap>
        </div>

        <div class="col">

            <div class="row h-50">

                <div class="col d-flex justify-content-end align-items-start" style="height:25%;">
                    <Score UScore="5"></Score>
                </div>

                <div class="col-12" style="height:75%;">
                    
                </div>

            </div>


            <div class="row h-50">
                <div class="col">
                    
                </div>
            </div>

        </div>
    </div>
</div>

@code {
}
