@page "/info"
<PageTitle>Info</PageTitle>

<h3>Study Vera nedir?</h3>
<p>
    Öğrencinin sınava yönelik ilerlemesini takip etmesini sağlayan ücretsiz bir platformdur.<br />
    öğrenci girdiği veriler <i>(hangi konudan kaç soru çözdüğü gibi)</i> aracılığı ile eksik konu tespiti yapılır.
</p>
<div class="alert alert-danger" role="alert">
     Ekstra açıklama gelecek.
    @* TODO: Açıklamayı düzenle  *@ 
</div>
@* 
<h3>Eksik Konu tespiti nasıl çalışıyor ?</h3>
<pre>
A-BY = ((Doğru Sayısı + m * p) / (TÇSS + m)) * 100
</pre>

<p>
    burada bulunan priority parametresini istersen <a href="/settings?from=">değiştirebilirsin.</a>
</p>

<p>
    Öğrencinin haftalık çalışma günleri, belirli periyotlara bölünür. Örneğin haftada <strong>5 gün</strong>
    çalışacağınızı belirttiğinizde, ilk aşamada bu günlerin <strong>n/2 + 1</strong> kadarı
    “konu çalışma”ya ayrılır. Eğer konular henüz tamamlanmamışsa bu oran geçerliliğini korur.
</p>

<p>
    Tüm konular tamamlandığında sistem, tekrar edilmesi gereken konuları belirlemek için
    <strong>soru çözüm performansınızı</strong> analiz eder. Örneğin matematik problemlerin
    “Havuz Problemleri” bölümünü çözdüğünüzü varsayalım. Bu konudaki sorularda doğru–yanlış oranınız
    belirli bir eşik değerinin altına düşerse, sistem otomatik olarak bu konuyu tekrar etmeniz
    gerektiğini tespit eder.
</p>

<p>
    Bu eşik değerleri, zaman içerisinde sürekli güncellenir. Ayrıca bazı dersler için
    <strong>özel eğitim koçlarıyla birlikte hazırlanmış gelişmiş katsayılar</strong> da kullanılarak
    çok daha doğru bir konu öneri sistemi oluşturulur.
    Buradan elde edilen sonuçlar ile size <strong>ders programı</strong> ve <strong>eksik konuya yönelik notlar</strong> verili.
</p>

<dev>
    <ul>
        <li>Eksik konu tespiti için konu önceliği sıralamsı da katsayı ile belirlenir.</li>
        <li>Her kullanıcı için bu katsayı ayrı ayrı hesaplanır.</li>
    </ul>
</dev>

 *@