@page "/profile/settings"
@using StudyVera.FrontEnd.Components.Settings


<div class="row align-items-start">

    <div class="col-3 border-end" style="min-height: 100vh;">
        <div class="nav flex-column nav-pills pt-3 text-start w-100">

            <button class="nav-link text-start w-100 @(activeTab == TabSelects.ApplicationParameters ? "active" : "")"
                    @onclick="() => ChangeTab(TabSelects.ApplicationParameters)">
                <i class="bi bi-gear-fill me-2"></i> Uygulama Parametreleri 
            </button>

            <button class="nav-link text-start w-100 @(activeTab == TabSelects.PomodoroSettings ? "active" : "")"
                    @onclick="() => ChangeTab(TabSelects.PomodoroSettings)">
                <i class="bi bi-palette-fill me-2"></i> Pomodoro Ayarları
            </button>
        </div>
    </div>


    <div class="col-9 p-4">
        <div class="alert alert-primary" role="alert">
            Buradaki içeriği cache al eğer cache de yoksa o zaman db den talep et. sürekli sürekli meşgul etmesin.
        </div>
        @if (activeTab == TabSelects.ApplicationParameters)
        {
            <ApplicationParameters />
        }
        else if (activeTab == TabSelects.PomodoroSettings)
        {
            <PomodoroSettings />
        }
    </div>

</div>


@code {
    enum TabSelects
    {
        ApplicationParameters, PomodoroSettings
    }
    private TabSelects activeTab = TabSelects.ApplicationParameters;

    private void ChangeTab(TabSelects tabSelects)
    {
        activeTab = tabSelects;
    }
}
