@page "/topics"
@using StudyVera.FrontEnd.Models.Topics
@using StudyVera.FrontEnd.Services
@inject TopicService TopicService

<h3>Topics</h3>

@if (list == null)
{
    <p>Yükleniyor...</p>
}
else
{
    <ul>
        @foreach (var item in list)
        {
            <li>@item.Name</li>
        }
    </ul>
}

@code {
    private List<TopicDto> list = new();

    protected override async Task OnInitializedAsync()
    {
        list = await TopicService.GetTopics();
    }
}
